.main_box{
  padding-bottom: 30px;
  right: -100px;
}

@media (max-width: 576px) {
  .main_box{
    right: 0px;
    padding-bottom: 0px;

  }

}
.core_values .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
  /*width: 800px;*/
}


.core_values .icon-box::before {
  content: '';
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.core_values .icon-box:hover::before {
  background: #ce6c24;
  top: 0;
  border-radius: 0px;
}

.core_values .icon {
  margin-bottom: 15px;
}

.core_values .icon i {
  font-size: 48px;
  line-height: 1;
  color: #ce6c24;
  transition: all 0.3s ease-in-out;
}

.core_values .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.core_values .title a {
  color: #111;
}

.core_values .description {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;

}

.core_values .icon-box:hover .title a, .core_values .icon-box:hover .description {
  color: #fff;
}

.core_values {
  padding-bottom: 30px;
}

.core_values .icon-box:hover .icon i {
  color: #fff;
}

