div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  height: 100vh;
}

#carousel-1{
  background: black;
  /*position: relative;*/
}

#carousel-1 > .carousel-inner .carousel-item > .jumbotron{
  opacity: 0.7;
  /*background-color: black;*/
}



div.jumbotron.hero-nature {
  background-image: url('../img/christina-wocintechchat-com-0Nfqp0WiJqc-unsplash.jpg');
}

div.jumbotron.hero-photography {
  background-image: url('../img/img1.jpg');
}

/*div.jumbotron.hero-technology {*/
/*  background-image: url('../img/young-college-students.jpg');*/
/*}*/

.item_text{
  /*margin-top: 200px;*/
  position: absolute;
  text-align: center;
  margin: auto;
  top: 38%;
  left: 0;
  right: 0;
}

h1.hero-title{
  padding-top: 50px;
  font-size: 45px;
  font-family: Georgia, cursive ;
}


h1.hero-title, h2.hero-title, h3.hero-title {

  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

/*p.hero-subtitle {*/
/*  max-width: 600px;*/
/*  margin: 25px auto;*/
/*  padding: 10px 15px;*/
/*  color: white;*/
/*  font-size: 25px;*/
/*  !*font-weight: bold;*!*/
/*}*/


.plat {
  border-radius: 0px;
}



* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

@media (max-width: 576px) {
  h1.hero-title {
    padding-top: 0;
    font-size: 28px;
  }
}