
.services-clean {
    color: #313437;
    background-image: url("../img/img2.jpg");
    padding-bottom: 40px;
    height: 100vh;
    background-size: cover;
}


@media (max-width: 576px){

    .services-clean {
        color: #313437;
        background-image: url("../img/img2.jpg");
        height: 130vh;
        background-size: cover;
        /*background-color: white;*/

    }

}

.services_main{
    position: relative;
    background: white;
    opacity: 0.9;
    padding-top: 50px;
    top: 15%;
}

@media (max-width: 576px){
    .services_main{
        position: relative;
        background: white;
        opacity: 0.9;
        top: 0%;
    }

}


@media (max-width:767px) {
    .services-clean {
        padding-bottom: 30px;
    }
}

.services-clean p {
    color: black;
    font-size: 18px;
}


.services-clean h2 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 40px;
    font-size: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .services-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.services-clean .intro {
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto 60px;
}

@media (max-width:767px) {
    .services-clean .intro {
        margin-bottom: 40px;
    }
}

.services-clean .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services-clean .item {
        min-height: 0;
    }
}

.services-clean .item .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}

.services-clean .item .description {
    font-size: 16px;
    margin-bottom: 0;
}

.services-clean .item .icon {
    font-size: 40px;
    color: #4472C4;
    float: left;
    margin-left: -65px;
}

