.services{
    /*background-color: #eeeeee;*/
    background-color: red;

}

.card-header {
    display: flex;
    position: relative;
    /*height: 403px;*/
    /*background-image: url('../img/student.jpg');*/
    /*background-size: cover;*/
}

.card-header_1{
    display: flex;
    position: relative;
    /*height: 403px;*/
    /*background-image: url('../img/business.jpg');*/
    /*background-size: cover;*/

}

.caption {
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    padding: 1.25rem;
    color: #fff;
}
.caption.bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}


#heading-card {
    margin-top: 40px;
    font-size: 45px;
}

.cardheader-text {
    color: #fff;
}

.card-text.sub-text-color {
    color: #8c8c8c;
}

.card-text:last-child {
    font-size: 30px;
    color: #595959;
}

#cardheader-subtext {
    font-size: 20px;
}

.card.cards-shadown {
    box-shadow: 2px 2px 30px #aaaaaa;
}

.row.space-rows {
    /*margin: 40px;*/
    margin: 40px 10px 40px 10px;
}

.col {
    padding: 20px 0px 0px 0px;
}

.card.cards-shadown.cards-hover:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99;
}

/*.card-header:first-child:hover {*/
/*    background-color: #ffb366;*/
/*}*/


/*.card-header_1:first-child:hover {*/
/*    background-color: #ffb366;*/
/*}*/

@media (max-width: 576px ) {

    .row.space-rows {
        /*margin: 40px;*/
        margin: 40px 0 40px 0;
    }

}
